{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Items edit</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
